.git
.gitignore
.env
.env.*
!.env.example

node_modules
npm-debug.log
yarn-error.log

vendor

public/build
public/hot
public/storage

storage/app/public
storage/logs
!storage/logs/.gitignore

bootstrap/cache/*.php

*.log
*.sqlite
*.sqlite-shm
*.sqlite-wal

Dockerfile
docker-compose.yml

tests/
phpunit.xml
README.md
CHANGELOG.md
